# Python
__pycache__/
*.py[cod]
*.pyc
.venv/

# Env & local db
.env
app.db

# Node/Frontend
frontend/node_modules/
frontend/dist/
frontend/.vite/

# Editor/IDE
.idea/
.vscode/

# TypeScript build info
frontend/tsconfig.tsbuildinfo

.chroma

